In [8]:
import pandas as pd
import numpy as np

In [9]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 0047-F845

 Directory of C:\Users\tomil

19/01/2023  13:03    <DIR>          .
22/07/2022  00:01    <DIR>          ..
19/11/2022  08:41             3,551 .bash_history
31/07/2022  18:15                55 .gitconfig
13/11/2022  15:45    <DIR>          .ipynb_checkpoints
30/07/2022  11:27    <DIR>          .ipython
30/07/2022  14:12    <DIR>          .jupyter
08/08/2022  21:10    <DIR>          .matplotlib
06/06/2022  16:28    <DIR>          .vscode
02/05/2021  00:34    <DIR>          3D Objects
22/07/2022  00:07    <DIR>          Contacts
31/10/2022  11:52    <DIR>          Credit-Prediction-to-Default
26/07/2022  20:54    <DIR>          data_1.01_activities
31/10/2022  12:04    <DIR>          data_mid_bootcamp_project_FIFA_MoneyBall-miniproject
02/08/2022  10:28    <DIR>          Documents
19/01/2023  13:23    <DIR>          Downloads
22/07/2022  00:07    <DIR>          Favorites
02/09/2022  18:23    <DIR>          FIFA 19 MINI PROJECT
02/08/2022  10:18    <DIR>          IronTomilola
09/08/2022  13:07           102,487 LAB 3.ipynb
30/08/2022  12:52            48,862 LAB 5 r.ipynb
30/08/2022  14:41            78,474 LAB 6 r.ipynb
22/11/2022  20:57    <DIR>          lab-aggregation-revisited-subqueries
04/08/2022  09:55    <DIR>          lab-bash
06/10/2022  14:38    <DIR>          lab-cleaning-categorical-data
06/10/2022  14:36    <DIR>          lab-cleaning-numerical-data
10/01/2023  13:08    <DIR>          lab-comparing-regression-models
01/09/2022  08:23    <DIR>          lab-customer-analysis-final-round
02/08/2022  10:30    <DIR>          lab-customer-analysis-round-1
30/08/2022  15:50    <DIR>          lab-customer-analysis-round-2
30/08/2022  16:04    <DIR>          lab-customer-analysis-round-3
01/09/2022  19:27    <DIR>          lab-customer-analysis-round-4
31/10/2022  23:39    <DIR>          lab-customer-analysis-round-5
10/01/2023  01:28    <DIR>          lab-customer-analysis-round-7
10/01/2023  13:11    <DIR>          lab-data-cleaning-and-wrangling
19/01/2023  13:01    <DIR>          lab-feature-engineering
24/11/2022  16:18    <DIR>          lab-feature-extraction
27/10/2022  11:12    <DIR>          lab-getting-started-with-tableau
07/01/2023  11:17    <DIR>          lab-handling-data-imbalance-classification
06/10/2022  14:33    <DIR>          lab-imbalanced-data
19/01/2023  13:02    <DIR>          lab-inferential-statistics
19/01/2023  13:03    <DIR>          lab-inferential-statistics-anova
19/01/2023  11:52    <DIR>          lab-intro-sql
10/01/2023  01:31    <DIR>          lab-predictions-logistic-regression
06/10/2022  14:44    <DIR>          lab-random-variable-distributions
19/01/2023  13:24    <DIR>          lab-revisiting-machine-learning
23/08/2022  13:59    <DIR>          lab-sql-2
04/10/2022  12:45    <DIR>          lab-sql-3
31/08/2022  11:26    <DIR>          lab-sql-4
04/10/2022  21:36    <DIR>          lab-sql-5
01/09/2022  11:52    <DIR>          lab-sql-6
05/09/2022  16:34    <DIR>          lab-sql-7
12/09/2022  19:22    <DIR>          lab-sql-8
13/09/2022  10:43    <DIR>          lab-sql-9
22/11/2022  22:25    <DIR>          lab-sql-advanced-queries
25/09/2022  18:03    <DIR>          lab-sql-basics
16/09/2022  21:14    <DIR>          lab-sql-join
20/09/2022  10:28    <DIR>          lab-sql-join-multiple-tables
22/11/2022  20:46    <DIR>          lab-sql-rolling-calculations
06/10/2022  15:08    <DIR>          lab-sql-self-cross-join
21/11/2022  23:12    <DIR>          lab-sql-subqueries
01/11/2022  11:45    <DIR>          lab-tableau-manipulating-data-from-multiple-sources
19/01/2023  13:03    <DIR>          lab-t-tests-p-values
22/07/2022  00:07    <DIR>          Links
22/07/2022  00:07    <DIR>          Music
19/01/2023  09:51    <DIR>          OneDrive
04/05/2021  08:52    <DIR>          Pictures
20/09/2022  10:59                41 README.md
22/07/2022  00:07    <DIR>          Saved Games
08/11/2022  12:42    <DIR>          seaborn-data
22/07/2022  00:07    <DIR>          Searches
17/09/2022  15:39             3,560 sql text query for 10 of setember.txt
08/08/2022  19:26            15,985 Untitled.ipynb
11/08/2022  09:36             2,882 Untitled1.ipynb
19/08/2022  20:56            22,177 Untitled2.ipynb
17/10/2022  18:41               589 Untitled3.ipynb
22/07/2022  00:07    <DIR>          Videos
02/09/2022  18:23                18 workspace.code-workspace
              12 File(s)        278,681 bytes
              66 Dir(s)  407,729,758,208 bytes free

In [11]:
cd lab-revisiting-machine-learning

C:\Users\tomil\lab-revisiting-machine-learning

In [12]:
df = pd.read_csv("learningSet.csv")

C:\Users\tomil\AppData\Local\Temp\ipykernel_18740\3745723400.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("learningSet.csv")

In [13]:
df

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

In [14]:
df_cat =df.select_dtypes(object)

In [15]:
df_cat

,OSOURCE,STATE,ZIP,MAILCODE,PVASTATE,NOEXCH,RECINHSE,RECP3,RECPGVG,RECSWEEP,...,RFA_21,RFA_22,RFA_23,RFA_24,RFA_2R,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,GRI,IL,61081,,,0,,,,,...,S4E,S4E,S4E,S4E,L,E,X,X,X,C
1,BOA,CA,91326,,,0,,,,,...,N1E,N1E,,F1E,L,G,X,X,X,A
2,AMH,NC,27017,,,0,,,,,...,,S4D,S4D,S3D,L,E,X,X,X,C
3,BRY,CA,95953,,,0,,,,,...,A1D,A1D,,,L,E,X,X,X,C
4,,FL,33176,,,0,X,X,,,...,A3D,I4E,A3D,A3D,L,F,X,X,X,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,ASE,AK,99504,,,0,,,,,...,,,,,L,G,X,X,X,C
95408,DCD,TX,77379,,,0,,,,,...,,,,,L,F,X,X,X,A
95409,MBC,MI,48910,,,0,,X,,,...,P1D,P1D,,,L,E,X,X,X,B
95410,PRV,CA,91320,,,0,X,,,,...,A1F,A1F,S2F,S3F,L,F,X,X,X,A
95411,MCC,NC,28409,,,0,X,,X,,...,S3G,S3G,S3G,S3G,L,G,C,1,C,C

In [16]:
## Checking  for null values in all the columns

In [17]:
df_cat.isna().sum()

OSOURCE       0
STATE         0
ZIP           0
MAILCODE      0
PVASTATE      0
           ...
RFA_2A        0
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
GEOCODE2    132
Length: 74, dtype: int64

## Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

In [20]:
drop_list = df_cat.loc[:, ['OSOURCE', 'ZIP']]
drop_list

      OSOURCE    ZIP
0         GRI  61081
1         BOA  91326
2         AMH  27017
3         BRY  95953
4              33176
...       ...    ...
95407     ASE  99504
95408     DCD  77379
95409     MBC  48910
95410     PRV  91320
95411     MCC  28409

[95412 rows x 2 columns]

## Identify columns that over 85% missing values

In [25]:
df_missingvalues = df.isnull().sum()/df.shape[0]*100
drop_missingvalues = df_missingvalues[df_missingvalues>85].keys()

In [28]:
drop_missingvalues

Index(['NUMCHLD', 'RDATE_3', 'RDATE_4', 'RDATE_5', 'RDATE_6', 'RDATE_7',
       'RDATE_10', 'RDATE_13', 'RDATE_15', 'RDATE_17', 'RDATE_20', 'RDATE_21',
       'RDATE_23', 'RAMNT_3', 'RAMNT_4', 'RAMNT_5', 'RAMNT_6', 'RAMNT_7',
       'RAMNT_10', 'RAMNT_13', 'RAMNT_15', 'RAMNT_17', 'RAMNT_20', 'RAMNT_21',
       'RAMNT_23'],
      dtype='object')

In [36]:
droplist= drop_missingvalues

In [37]:
droplist

Index(['NUMCHLD', 'RDATE_3', 'RDATE_4', 'RDATE_5', 'RDATE_6', 'RDATE_7',
       'RDATE_10', 'RDATE_13', 'RDATE_15', 'RDATE_17', 'RDATE_20', 'RDATE_21',
       'RDATE_23', 'RAMNT_3', 'RAMNT_4', 'RAMNT_5', 'RAMNT_6', 'RAMNT_7',
       'RAMNT_10', 'RAMNT_13', 'RAMNT_15', 'RAMNT_17', 'RAMNT_20', 'RAMNT_21',
       'RAMNT_23'],
      dtype='object')

## Remove those columns from the dataframe

In [41]:
df.drop(droplist, axis=1, inplace=True)

## Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

In [43]:
print(df_cat['GENDER'].value_counts())

df_cat['GENDER'] = df_cat['GENDER'].fillna('F')

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [44]:
df_cat["GENDER"] = df_cat["GENDER"].apply(lambda x : x if (x in ["F", "M"]) else "other")

In [46]:
df_cat["GENDER"].value_counts()

F        51277
M        39094
other     5041
Name: GENDER, dtype: int64